body{
	text-align: center;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 100;
	background: #2a2b2b;
}
h1{
  color: #fff;
  font-weight: 100;
  font-size: 60px;
	height: 10%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

h2{
	color: #fff;
	font-weight: 100;
	height: 5%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	font-family: Helvetica Neue, sans-serif;
	padding-bottom: 5px;
}

#link{
  color: #fff;
	font-family: Helvetica Neue, sans-serif;
}
a:link, a:visited, a:hover, a:active{
	color: ##252525;
}

#clockdiv{
	font-family: Helvetica Neue, sans-serif;
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #444444;
	display: inline-block;
	margin: 5px;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #3b3b3b;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
